* {
	box-sizing: border-box;
}

/* Main container */
.container {
	border: 10px groove black;
	width: 80%;
	align-content: center;
	display: block;
	margin: 60px auto;
	text-align: center;
	font-size: 30px;
	background-color: #f0ead6;
	padding-top: 20px;
}

/* Header, name counter, and scores*/
h1 {
	display: block;
	justify-content: center;
	align-self: center;
}

nav {
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

#startButton {
	padding: 10px 20px;
	margin: 20px 20px 20px 150px;
	background-color: darkblue;
	color: gold;
	font-size: 30px;
	border-radius: 20px;
}

/* Main body / Game and questions */
main {
	border-top: 3px solid darkslategray;
	padding: 20px;
	text-align: start;
	left: 20px;
}
main div {
	margin: 10px;
}

#question {
	font-size: 40px;
}

/* Answer Area of the game */
footer {
	padding: 20px;
	border-top: 3px solid darkslategray;
	display: flex;
	justify-content: space-evenly;
}

footer div {
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	align-self: center;
}

footer button {
	padding: 10px 20px;
	margin: 20px 20px 20px 150px;
	background-color: darkblue;
	font-size: 60px;
	border-radius: 20px;
	color: gold;
}

/* link to the questions */
.reference {
	text-align: center;
}
